/* Home.css */
.home-container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.home-image {
    width: 100%;
    height: auto;
    max-height: 200px; /* Állítsd be az igényelt magasságot */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.home-title {
    font-family: 'Arial', sans-serif;
    color: #343a40;
    margin-bottom: 1rem;
}

.home-text {
    font-family: 'Georgia', serif;
    color: #6c757d;
    line-height: 1.6;
}
