#termek {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    overflow: hidden;
  }
  
  .card img {
    width: 100%; 
    height: auto;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .btn-prim {
    background-color: #784d2e; 
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
  }

    .btn-prim:hover {
    background-color: #5d3b23; 
    color: white;
  }
  
  .bold {
    font-weight: 500;
  }
